.input--Container {
    @apply flex flex-col space-y-2;
}

.input--Input {
    @apply h-[58px] w-full px-2 border border-[lightgray] text-slate-600 font-quicksand focus:outline-none;
}

.input--Label {
    @apply mt-5 font-quando font-semibold;
}

.react-select__control {
    @apply h-[58px]
}

[name='price']::-webkit-outer-spin-button,
[name='price']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[name='phone']::-webkit-outer-spin-button,
[name='phone']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

